.booking-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-container {
  width: 90%;
  max-width: 1000px;
  padding: 30px;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);

  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

thead th {
  padding: 12px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s;
}


tbody tr:hover {
  background: rgba(255,255,255,0.1);
}


tbody td {
  padding: 12px;
  color: #eee;
}

p {
  text-align: center;
  color: #ccc;
  font-style: italic;
}

button.cancel-btn {
  background-color: #ff4d30;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button.cancel-btn:hover {
  background-color: #e63e24;
}

.status-booked {
  color: green;
  font-weight: bold;
}

.status-cancelled {
  color: red;
  font-weight: bold;
}