<aside class="sidebar">

  <nav class="nav-links">

    <a *ngIf="showAdmin() || showUser()"
       routerLink="/dashboard/dashboard-main"
       routerLinkActive="active">
       Dashboard
    </a>
    <a *ngIf="showAdmin()|| showUser()"
       routerLink="/dashboard/car-list"
       routerLinkActive="active">
       Car List
    </a>

    <a *ngIf="showAdmin()"
       routerLink="/dashboard/car-create"
       routerLinkActive="active">
       Add Car
    </a>

    <a *ngIf="showUser()"
       routerLink="/dashboard/user-booking"
       routerLinkActive="active">
       My Bookings
    </a>
    <a *ngIf="showUser() || showAdmin()"
       routerLink="/dashboard/car-track"
       routerLinkActive="active">
       Track Car
    </a>
    <a *ngIf="showAdmin()"
       routerLink="/dashboard/monitor"
       routerLinkActive="active">
       Monitor
    </a>

  </nav>
</aside>